<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>
    <body>
        <header>
            <h2>NPL Project (Udacity)</h2>
        </header>
        <section>
                <form id="formBox">
                    <label for="textBox">Url or text to evaluate:</label><br>
                    <input type="text" id="textBox" name="textBox" placeholder="Copy or type here .."><br>
                    <input type="submit" value="Submit" id="submit">
                </form>
        </section>
        <footer id="footer">
            <p>Project 4 in Udacity Front End Develoer Nanodegree Pogram &copy 2018</p>
        </footer>
    </body>
</html>
